
#body-welcome{
  display: flex;
  justify-content: center;
}

body{
  background-color: rgb(16, 12, 75);
  color: white;
}

.back{
  display: block;
  max-width: 50px;
  max-height: 50px;
}

h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.option{
  margin-top: 30px;
  text-align: center;
}

.table-height{
  max-height: 110px;
}

.text-ellipsis{
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option a{
  color: white;
  }

  .table{
    color: white;
  }

#addButton{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

#createNew{
  margin-bottom: 50px;
}

.containerstyle{
  width: 60vw; 
  margin-left: 50px; 
  margin-top: 50px;
  margin-right: 50px;
}

.form-control{
  width: 200px;
}

#description{
  max-width: 500px;
  width: 80%;
}