body{
  display: flex;
  justify-content: center;
  background-color: rgb(16, 12, 75);
  color: white;
}

h1{
  text-align: center;
}

.option{
  margin-top: 30px;
  text-align: center;
}

.option a{
  color: white;
  }

#addButton{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.containerstyle{
  width: 60vw; 
  margin-left: 50px; 
  margin-top: 50px;
  margin-right: 50px;
}

.form-control{
  width: 200px;
}

#description{
  max-width: 500px;
  width: 80%;
}