RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [NC,L]

Header always add Access-Control-Allow-Origin "https://pal.romain-feregotto.fr"
Header always add Access-Control-Allow-Methods "POST, GET, OPTIONS"
Header always add Access-Control-Allow-Credentials "true"
Header always add Access-Control-Allow-Headers "Authorization,DNT,User-Agent,Keep-Alive,Content-Type,accept,origin,X-Requested-With"

RewriteCond %{REQUEST_METHOD} OPTIONS

AuthName "Page d'administration"
AuthType Basic
AuthUserFile "/var/www/html/src/.htpasswd"
Require valid-user
