RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [NC,L]

AuthName "Page d'administration"
AuthType Basic
AuthUserFile "C:\wamp64\www\final_back\src\.htpasswd"
Require valid-user
